html {
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	line-height: 1.35;
}
.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height:100vh;

	// padding-top:2rem;

	overflow-x:hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

}
*, *:before, *:after {
	box-sizing: inherit;
}

$pico: "(max-width: 350px)";
$mini-down: "(max-width: 600px)";
$small: "(min-width: 601px) and (max-width: 900px)";
$small-down: "(max-width: 900px)";
$medium: "(min-width: 901px) and (max-width: 1150px)";
$medium-up: "(min-width: 901px)";
$medium-down: "(max-width: 1150px)";
$large: "(min-width: 1151px)";

html {
	@media #{$medium-up} {
		font-size: 120%;
	}
	@media #{$small} {
		font-size: 100%;
	}
	@media #{$mini-down} {
		font-size: 90%;
	}
	@media #{$pico} {
		font-size: 80%;
	}
}

em {
	font-style: italic;
}

h1,
h2,
h3,
h4 {
	letter-spacing: 0px;
	font-family: sans-serif;
	font-weight: 600;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

@media #{$small} {
	h2 {
		font-size: 2.8rem;
	}
}


.crumbs,
.sub,
h3,
.big {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	text-align: center;

}

.partof,
.button,
.small,
h6 {
	font-size: 0.8rem;
}
h6 {
	line-height: 1.3;
	// text-align: center;

}

img {
	max-width: 100%;
	max-height: 100vh;
	height: auto;
	vertical-align: bottom;
}

.clickarea {
	position: fixed;
	top:0;
	right:0;
	width: 40px;
	background-color: rgba(255, 0, 0, 0);
	height: 100vh;

}

main {
	padding:0 0.5rem;
	padding-bottom: 6rem;
}

//
// .main .article {
// 	position: relative;
// 	z-index: 10000;
// }
//
// .menu-open .main .article {
// 	position: initial;
// 	z-index: auto;
// }

.topbar {
	&.invisible {
		visibility: hidden;
	}
	&.fixed {
		position: fixed;
	}

	// z-index: 5;
	top:0;
	left:0;
	width: 100%;
	z-index: 3;
	background-color: #fff;
	padding:0.5rem 0.6rem;
	.notifications {

		float:right;
		width: 1rem;
		// height: 1rem;
		.number {
			background-color: rgba(255,0,0,0.75);
			padding: 0.1rem;
			// padding-bottom: 0.38rem;
			font-size: 0.5rem;
			border-radius: 0.25rem;
			margin-top:0.4rem;
			color:#fff;
			text-align: center;


		}
		position: relative;
		.expanded {
			line-height: 1.7;
			font-family: monospace;;
			margin:0.5rem;
			margin-left: -18rem;
			font-size: 0.7rem;
			width: 20rem;
			height: 10rem;;
			display: absolute;
			display: none;
			padding: 1rem;
			background-color: #fff;
			// border:1px solid #000;
			box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);;
		}
		&:hover {
			.expanded {
				display: block;
			}
		}
	}
	.hamburger {
		margin-left:1rem;
		float:right;
		line-height: 1.7rem;

	}
	.crumbs {
		line-height: 1.5;
	}

}


$linkborder: 0.05em solid rgba(0,0,0,0.3);
$linkborder-hover: 0.25em solid;

a {
	color:inherit;
	text-decoration: none;
	border-bottom: $linkborder;
	transition: border-bottom 0.05s ease;
	&:hover {
		border-bottom: $linkborder-hover;
	}

	// &.current {
	// 	border-bottom: 0.2em solid rgba(0, 0, 0, 0.9);
	// }
}
// a:not([href]) {
// 	border-bottom: 0.05em dashed rgba(0,0,0,0.3);
// }
// a:hover:not([href]) {
// 	border-bottom: 0.05em dashed rgba(0,0,0,0.5);
// }


// .stripes {
// 	display:none;
//
// 	position: absolute;
// 	width:30px;
// 	height: 100vh;
// 	top:0;
// 	right: 0;
// 	transition: transform 0.8s ease;
// 	.stripe {
// 		position: absolute;
// 		width:1px;
// 		height: 30px;
// 		background-color: #000;
// 		top:50%;
// 		left:5px;
// 		margin-top:-15px;
// 	}
// 	.stripe.s2 {
// 		left:10px;
// 	}
// }



.crumbs {
	a.sub,
	a.main {
		border: none;
		&:hover {
			border-bottom:$linkborder-hover;
		}
	}
	a.current {
		border-bottom:$linkborder;
		&:hover {
			border-bottom:$linkborder-hover;
		}
	}
}

nav {
	padding:0.75rem;
	position: fixed;
	z-index: 10;
	top:0;
	right:0;
	height: 100vh;
	line-height: 1.65;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

	.group.first {
		margin-top:1.5rem;
		// margin-bottom:1rem;
	}
	.group.last {
		// margin-top:1rem;
		margin-bottom:1.5rem;
	}

	.main-sub {
		// margin-top: 0.25rem;
	}

	@media #{$small-down} {
		:focus {
    	outline: none;
		}
	}
	.close {
		float: right;
	}
	li.expanded>ul {
		margin-bottom: 1rem;
	}
	ul {
		margin-left: 0.5rem;
		// line-height: 1.65;
	}
	ul a {
		border-bottom: none;
	}
	li>.title>a:not([href]) {
		border-bottom: 0.05em dashed rgba(0,0,0,0.5);
		transition: border-bottom ease 0.01s;
		transition-delay: 0.24s;
	}
	li.expanded>.title>a {
		border-bottom: 0.0em dashed rgba(0,0,0,0.5);
		transition: border-bottom ease 0.01s;
		// transition-delay: 0.24s;
	}
	// ul ul ul {
	// 	border-left: 0.05em dashed rgba(0,0,0,0.15);
	// 	margin-left:0.25rem;
	// 	padding-left: 0.25rem;
	// }
	>ul>li {
		// margin-bottom: 1rem;
	}
	li.expandable {
		cursor: pointer;
		&:before {
			content:'+';
			position: absolute;
			margin-left: -1.05rem;
			font-size: 1.3rem;
		}
		li.expandable {
			display: none;
		}
		// display: none;

		>ul {
			max-height: 0px;
			overflow: hidden;
			transition: max-height 0.3s ease;
		}
		&.expanded:before {
			content:'-';
		}
		&.expanded {
			li.expandable {
				display: block;
			}

			>ul {
				max-height: 1200px;
				overflow: hidden;
			}
		}
	}
	.menu-title-education {
		margin-left: 0.5rem;
	}
	.education-group {
		padding:0rem 2rem;
		margin-top:1.5rem;
		margin-bottom:1.5rem;
	}
	.menu-title {
		font-size: 0.7rem;
		margin-top:1.5rem;
		&:first-child {
			margin-top: 1rem;
		}
	}
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	width: 33.33%;
	min-width: 20rem;
	max-width: 25rem;

	transform: translate3d(0,0,0);
	// transition: transform 0.3s cubic-bezier(.11,.63,.61,.95);

	// border-left: 1px #000 solid;
	background-color: #fff;
	.article {
		padding:1.5rem;
		// margin-bottom: 0.5rem;
		// border-bottom: 1px solid #000;
		&.no-image {
			text-align: center;
		}
		img {
			margin-bottom: 0.5rem;
		}
	}
	.top {
		margin:0 0.5rem;
		a {
			border:none;
			&:hover {
				border-bottom: $linkborder-hover;
			}
			margin-right: 1rem;
			@media #{$medium-down} {

			}
		}
	}
	.loginarea {
		margin:1rem 0.5rem;
		.button {
			margin:0 0.5rem 0 0;
			// margin-bottom: 0.5rem;
		}
		a {
			// color:#700;
		}
	}
	.listed {
		line-height: 1.8;
		ul {
			li {
				display: inline;
				&:last-child:after {
					content:'. '
				}
				&:after {
					content:', ';
				}
			}
		}
	}

}

$contentwidth: 55rem;
$linewidth: 38rem;
.content {
	max-width: $contentwidth;
	margin:0 auto;
	p {
		max-width: $linewidth;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.5rem;

	}
}
.linewidth {
	max-width: $linewidth;
	margin-left: auto;
	margin-right: auto;
}


ul.sub {
	// font-size: 0.8rem;
	// line-height: 1.3rem;
	min-height: 1rem;
	position: relative;
	z-index: 2;
	margin:1rem;
	margin-bottom: 2rem;
	li {
		@media #{$medium-up} {
			// display: inline;
		}

		margin:0.5rem;
	}
	@media #{$medium-up} {
		// margin-top:0.3rem;
		// margin-left:13.45rem;
	}
}

.static.left,
.auto-zigzag .static:nth-child(odd) {
	margin-left: 5rem;
	margin-right: 10rem;
	@media #{$small-down} {
		margin-left: 3rem;
		margin-right: 8rem;
	}

	@media #{$mini-down} {
		margin-left: auto;
		margin-right: auto;
	}
}

.static.right,
.auto-zigzag .static:nth-child(even) {
	margin-left: 10rem;
	margin-right: 5rem;
	@media #{$small-down} {
		margin-left: 8rem;
		margin-right: 3rem;
	}
	@media #{$mini-down} {
		margin-left: auto;
		margin-right: auto;
	}
}

.static {
	max-width: $linewidth;
	margin:0 auto;
}

article {
	.static {
		margin-bottom: 3rem;
		@media #{$small-down} {
			margin-bottom: 1.5rem;
		}

	}
}


.template-basic-page {
	.stamp {
		font-size: 20vw;
		transform: rotate(10deg);

		position: absolute;
		top:20vh;
		left:0;
		color:rgba(255,0,0,0.14);
	}
	.add-new {
		// position: fixed;
		// z-index: 10;
		// right: 0rem;
		// bottom: 0rem;
		margin:3rem;
		text-align: center;;
	}
	.project {
		margin-top:0;
	}
	.more-projects {
		text-align: center;
	}
}

// .added-by {
// 	font-family: "Arial Narrow", sans-serif;
// 	font-size: 0.5rem;
// 	color: #777;
// }

.intro {
	// margin-bottom: 2rem;
	margin-top:3rem;
	@media #{$medium-up} {
		margin-bottom: 4rem;
	}
	margin-bottom: 3rem;

}





.template-home {
	// text-align: center;
	.project.first {
			margin-top:0;
			// margin-bottom: 0.75rem;
	}
	.editors-notice {
		text-align: center;
		margin-bottom: 0.5rem;
		@media #{$mini-down} {
			text-align: center;
			margin-bottom: 1rem;
		}
		.line {
			@media #{$mini-down} {
				display: block;
			}
			white-space: pre;
		}
		blockquote {
			margin:2rem;
		}
	}

	.about {
		margin:2rem;
		text-align: center;
	}
}


.project {
	// display: inline-block;
	text-align: center;
	// background-color: #fff;
	// padding: 4rem 2rem;
	// padding-bottom: 1rem;
	color:#333;

	display: inline-block; //clearfix
	width:100%;


	.title-wrapper,
	.image {
		position: relative;
		z-index: 5;
		background-color: #fff;
		box-shadow: 0px 0px 9rem rgba(0,0,0,0.6);
	}

	// max-width: 60rem;


	// &:after {
	// 	content:'';
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	top:0;
	// 	left:0;
	// 	// border:1px solid #f00;
	// 	z-index: 1000;
	// 	box-shadow: 0px 0px 10rem rgba(0,0,0,0.4);
	// 	pointer-events: none;
	// }



	margin: 5rem auto;
	// position: relative;
	// z-index: 2;
	.title-wrapper {
		text-align: left;
		line-height: 1.1;
		// min-height: 20rem;
		padding:5%;

		// position: relative;
		// min-height: 50vh;
		// min-width: 50vw;
		// box-shadow: inset 0px 0px 80px rgba(0,0,0,0.5);
		// box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.1);
		// display: flex;
		// align-items: center;
 		// 	justify-content: center;
		.title {
			// flex:1 1 auto;
			@media #{$medium-up} {
				font-size: 5rem;
			}
			@media #{$small} {
				font-size: 3rem;
			}
			@media #{$mini-down} {
				font-size: 2rem;
			}

			// color: rgba(222, 222, 222, 0.75);
			font-weight:900;
			// text-shadow: 1px 2px 4px #fff, 0px 0px 0px black, 0px 0px 2px white;

			// max-width: 80%;
			// opacity: 0.3;
		}
	}
	.caption {
		@media #{$medium-up} {
			&.left {
				font-size: 0.8rem;
				float:left;
			}
			&.right {
				float:right;
			}

		}
		.title {
			margin-bottom: 0.5rem;
		}
		margin:0.25rem;
		margin-top:0.5rem;
	}
}

.login {
	box-shadow:  0rem 0rem 0rem rgba(255, 255, 0, 1);
}

$button-depth:0.04rem;

// $button-color: #FFFF6E;

.button {
	// background-color: rgba(0, 0, 0, 0.08);
	// box-shadow:  inset 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.6);
	border-radius: 0.5rem;
	// border:1px solid rgba(0, 0, 0, 0.15);
	// background-color: #ff0;
	// color: rgba(0,0,0,0.99);

	cursor: pointer;
	border:none;
	display: inline-block;
	margin:2rem;
	// z-index: 10;
	// position: relative;
	// background-color: #FFFFB1;
	// padding:0.4rem 0.6rem;
	// font-size: 0.9rem;
	// text-transform: uppercase;
	vertical-align: middle;
	background-color: rgba(255, 255, 0, 0.5);
	box-shadow:  0rem 0rem 1rem rgba(255, 255, 0, 0.5), 0rem 0rem 1rem rgba(255, 255, 0, 0.5);
	font-family: monospace;
	// box-shadow:  0rem 0rem 0rem rgba(255, 255, 0, 1), inset 0rem 0rem 0rem rgba(255, 255, 0, 1), 0rem 0rem 0rem rgba(255, 255, 0, 1);
	&:hover {
		// background-color: #ff0;
		// padding:(0.4rem+$button-depth) (0.6rem-$button-depth) (0.4rem-$button-depth) (0.6rem+$button-depth) ;
		border:none;
		// box-shadow: inset 0.15rem 0.15rem 1rem rgba(0,0,0,0.4);
		// box-shadow: inset (0.1rem+$button-depth) (0.1rem+$button-depth) 0.3rem rgba(0, 0, 0, 0.6), 0.1rem 0.1rem 2.5rem rgba(255,255,100, 0.6);
		// box-shadow: inset (0.1rem+$button-depth) (0.1rem+$button-depth) 0.3rem rgba(0, 0, 0, 0.6), 0.1rem 0.1rem 2.5rem rgba(255,255,100, 0.6);
		// box-shadow: inset 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.6), 0.1rem 0.1rem 2.5rem rgba(255,255,100, 0.6);
		// box-shadow:  0rem 0rem 4rem rgba(255, 255, 0, 1), inset 0rem 0rem 0rem rgba(255, 255, 0, 1), 0rem 0rem 1rem rgba(255, 255, 0, 1);
		box-shadow:  0rem 0rem 2rem rgba(255, 255, 0, 0.9), 0rem 0rem 5rem rgba(255, 255, 0, 0.9);
		transition: all ease 0.1s;

		// // text-shadow: 0.1rem 0.1rem 0.4rem rgba(255, 255, 0, 1);

		// background-color: #ff0;
		// color: #fff;
		// background-color: rgba(0,0,0,0.01);

		// color:#fff;
		// top:0.05rem;
		// left:0.05rem;

	}
	// color:#fff;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.15);

}

.added-by {
	// display: block;
	font-size: 0.5rem;
	color: #aaa;
	margin-left:1rem;
	// float: right;
}
.date {
	// display: block;;
	// font-family: monospace;
}
.more {
	// padding:0.25rem;
	// max-width:$contentwidth;
	// margin: 0 auto;
	text-align: center;
	// box-shadow: 0px -16px 23px -13px rgba(0, 0, 0, 0.1);
	// h6 {
	// 	margin: 0.5rem;
	// }
}

.columns {
	max-width: $contentwidth;
	margin: 0 auto;
	overflow: hidden;
	padding: 1rem;
	.column {
		@media #{$medium-up} {
			&.staircase:nth-child(3n+2) {
				margin-top: 8rem;
			}
			&.staircase:nth-child(3n+3) {
				margin-top: 16rem;
			}
			&.staircase-reversed:nth-child(3n+1) {
				margin-top: 16rem;
			}
			&.staircase-reversed:nth-child(3n+2) {
				margin-top: 8rem;
			}

			float:left;
			width: 33.3333%;
		}
		@media #{$small-down} {
			margin-bottom: 2rem;
		}
	}
}


.calendar,
.news {
	.add {
		float:right;
	}
	.title {
		display: block;;
	}
	padding:1rem;
	ul {
		li {
			margin: 0.5rem 1rem;
		}
		margin:1rem 0;
	}
}

.calendar {

}


.sketch {
	text-align: center;
	img {
		max-width: 100%;
		width: $contentwidth;
		width: auto;
		max-height: none;
	}
}


footer {
	// background: #000;
	background-image: url('footer.png');
	background-position: 	center center;
	background-size: 100% 100%;
	min-height: 600px;
}
// min-height: 30rem;
// box-shadow: inset 0px -5rem 6rem rgba(0,0,0,0.5), inset 0px 0rem 6rem rgba(255,255,0,0.5), ;
// margin:2rem 5% ;
// border-radius: 15rem;
// // background-color: #ccc;
// display:flex;
// align-items: center;
// justify-content: center;
// text-align: center;
//
// .title {
//
// }


.icons {
	a.icon {
		display: block;
		border: none;
		text-align: center;
		padding:1rem;
		.title {
			margin:0.5rem;
		}
	}
	@media #{$medium-up} {
		display: flex;
		flex-flow: row wrap;
		.icon {
			flex:1 1 auto;
			// width: 33.33333%;
		}
	}
}
