html {
	font-family: sans-serif;
	box-sizing: border-box;
}
body {
	overflow: hidden;
	line-height: 1.3;

}
.container {

	position: relative;
	overflow: hidden;
	width: 100%;
	height:100vh;
	padding:0.75rem;
	padding-top:2rem;

	overflow-x:hidden;
	overflow-y: scroll;
}
*, *:before, *:after {
	box-sizing: inherit;
}

@mini:   ~"all and (max-width: 600px)";
@small:   ~"all and (min-width: 601px) and (max-width: 900px)";
@medium:   ~"all and (min-width: 901px) and (max-width: 1150px)";
@medium-up:   ~"all and (min-width: 901px)";
@medium-down:   ~"all and (max-width: 1150px)";
@large:   ~"all and (min-width: 1151px)";

html {
	// @media @large {
	// 	font-size: 120%;
	// }
	@media @medium-up {
		font-size: 150%;
	}
	@media @small {
		font-size: 130%;
	}
	@media @mini {
		font-size: 100%;
	}
}

em {
	font-style: italic;
}

h1,
h2,
h3,
h4 {
	letter-spacing: 0px;
	font-family: sans-serif;
	font-weight: 600;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

@media @small {
	h2 {
		font-size: 2.8rem;

	}
}

h3,
.big {
	font-size: 1.1rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	text-align: center;

}

.small,
h6 {
	font-size: 0.8rem;
}
h6 {
	line-height: 1.3;
	// text-align: center;

}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.clickarea {
	position: fixed;
	top:0;
	right:0;
	width: 40px;
	background-color: rgba(255, 0, 0, 0);
	height: 100vh;

}


//
// .main .article {
// 	position: relative;
// 	z-index: 10000;
// }
//
// .menu-open .main .article {
// 	position: initial;
// 	z-index: auto;
// }

.topbar {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background-color: #fff;
	padding:0.75rem 1rem;
	.notifications {
		float:right;
		width: 1rem;
		height: 1rem;
		.number {
			background-color: #f00;
			padding: 0.3rem;
			// padding-bottom: 0.38rem;
			font-size: 0.5rem;
			border-radius: 0.25rem;
			color:#fff;
			text-align: center;


		}
		position: relative;
		.expanded {
			line-height: 1.7;
			font-family: monospace;;
			margin:0.5rem;
			margin-left: -18rem;
			font-size: 0.7rem;
			width: 20rem;
			height: 10rem;;
			display: absolute;
			display: none;
			padding: 1rem;
			background-color: #fff;
			border:1px solid #000;
		}
		&:hover {
			.expanded {
				display: block;
			}
		}
	}
	.hamburger {
		margin-left:2rem;
		float:right;
	}
	.crumbs {
		line-height: 1.5;
	}
}


a {
	color:inherit;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	transition: border-bottom 0.05s ease;
	&:hover {
		border-bottom: 1px solid rgba(0, 0, 0, 1);
	}
}


// .stripes {
// 	display:none;
//
// 	position: absolute;
// 	width:30px;
// 	height: 100vh;
// 	top:0;
// 	right: 0;
// 	transition: transform 0.8s ease;
// 	.stripe {
// 		position: absolute;
// 		width:1px;
// 		height: 30px;
// 		background-color: #000;
// 		top:50%;
// 		left:5px;
// 		margin-top:-15px;
// 	}
// 	.stripe.s2 {
// 		left:10px;
// 	}
// }

nav {
	padding:0.75rem;
	position: fixed;
	z-index: 3;
	top:0;
	right:0;
	height: 100vh;
	line-height: 1.4;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);;
	.close {
		float: right;
	}
	ul {
		margin-left: 1rem;
	}
	>ul>li {
		margin-bottom: 1rem;
	}
	li.expandable {
		cursor: pointer;
		&:before {
			content:'+';
			position: absolute;
			margin-left: -1rem;
		}
		ul {
			max-height: 0px;
			overflow: hidden;
			transition: max-height 0.3s ease;
		}
		&.expanded:before {
			content:'-';
		}
		&.expanded {
			ul {
				max-height: 1000px;
				overflow: hidden;
			}
		}
	}
	.menu-title {
		font-size: 0.7rem;
		margin-top:1.5rem;
		&:first-child {
			margin-top: 1rem;
		}
	}
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	width: 33.33%;
	min-width: 15rem;
	max-width: 20rem;

	transform: translate3d(0,0,0);
	// transition: transform 0.3s cubic-bezier(.11,.63,.61,.95);

	// border-left: 1px #000 solid;
	background-color: #fff;
	.article {
		padding:1.5rem;
		// margin-bottom: 0.5rem;
		// border-bottom: 1px solid #000;
		&.no-image {
			text-align: center;
		}
		img {
			margin-bottom: 0.5rem;
		}
	}
}

@contentwidth: 55rem;
@blockwidth: 30rem;
article {
	ul.sub {
		font-size: 0.8rem;
		// line-height: 1.3rem;
		margin:1rem;
		margin-bottom: 2rem;
		li {
			@media @medium-up {
				// display: inline;
			}

			margin:0.5rem;
		}
		@media @medium-up {
			// margin-top:0.3rem;
			// margin-left:13.45rem;
		}
	}
	.block {
		max-width: 35rem;
		margin-bottom: 2rem;
		&.fact {
			padding:1rem;
			background-color: #C1D7FF;
		}
	}
	.content {
		max-width: @contentwidth;
		margin:0 auto;
	}
	.block:nth-child(odd) {
		@media @medium-up {
			margin-left:10rem;
		}
		@media @small {
			margin-left:2.5rem;
		}
	}
	.block:nth-child(even) {
		@media @medium-up {
			margin-right:10rem;
		}
		@media @small {
			margin-right:2.5rem;
		}
	}

}

.template-basic-page {
	.add-new {
		margin:4rem 1rem 2rem 1rem;
		text-align: center;;
	}
	.project {
		margin-top:0;
	}
}

// .added-by {
// 	font-family: "Arial Narrow", sans-serif;
// 	font-size: 0.5rem;
// 	color: #777;
// }

.template-home {

	.project.first {
			margin-top:0;
	}

	.about {
		margin:3rem;
		text-align: center;
	}

	.container {
		padding-bottom: 10rem;
	}

}


.project {
	text-align: center;

	padding: 1rem;
	max-width: 60rem;
	box-shadow: 0px 0px 8rem rgba(0,0,0,0.4);
	// margin: 7rem;
	position: relative;
	z-index: 2;
	.title-wrapper {
		text-align: left;
		line-height: 1.1;

		// position: relative;
		// min-height: 50vh;
		// min-width: 50vw;
		// box-shadow: inset 0px 0px 80px rgba(0,0,0,0.5);
		// box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.1);
		// display: flex;
		// align-items: center;
 		// 	justify-content: center;
		.title {
			// flex:1 1 auto;
			font-size: 3rem;
			color: rgba(222, 222, 222, 0.75);
			font-weight:900;
			text-shadow: 1px 2px 4px #fff6e6, 0px 0px 0px black, 0px 0px 2px white;

			// max-width: 80%;
			// opacity: 0.3;
		}
	}
	.caption {
		.title {
			margin-bottom: 0.5rem;
		}
		margin:0.5rem;
		margin-top:0.75rem;
	}
}

.button {
	background-color: rgba(0, 0, 0, 0.08);
	// border:1px solid rgba(0, 0, 0, 0.15);
	padding:0.35rem 0.6rem;
	cursor: pointer;
	&:hover {
		background-color: #000;
		color:#fff;
	}
	// color:#fff;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.15);

}

.calendar-wrapper {
	margin-bottom:6rem;
}
.news-calendar {
	max-width: @contentwidth;
	margin:0 auto;
	.content {
		display: block;;
		padding: 0 1rem;
		margin:0 auto;
		overflow: hidden;
	}

	.new-calendar-item:extend(.button) {
		float:right;
	}

	height: 9.6rem;
	overflow: hidden;
	ul li {
		margin-bottom: 0.75rem;

	}

	.added-by {
		// display: block;
		font-size: 0.5rem;
		color: #aaa;
		margin-left:1rem;
		// float: right;
	}
	.date {
		// display: block;;
		font-family: monospace;
	}
	.title {
		display: block;
	}
	font-size: 0.9rem;

	// min-height:10rem;
	background-color: #fff;
	width: 100%;
	.col {
		padding:1rem 0.5rem;
		>.title {
			margin-bottom: 0.5rem;
		}
	}
	ul .title {
		margin:0.05rem 0;
	}

	.news .date {
		color: #aaa;
	}

	@media @medium-up {
		// box-shadow: 8px 15px 29px 16px rgba(0,0,0,0.1);
		.col {
			width: 50%;
			float:left;
		}
		// position:absolute;
		// top: ~"calc(100vh - 4.8rem)";
		// left:0;

	}
}
.more {
	padding:0.25rem;
	max-width:@contentwidth;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0px -16px 23px -13px rgba(0, 0, 0, 0.1);
	h6 {
		margin: 0.5rem;
	}
}


.columns {
	max-width: @contentwidth;
	margin: 0 auto;
	overflow: hidden;
	.column {
		float:left;
		width: 33.3333;
	}
}
